# SHARK QUEST
## New Kids On The Block

# TODO

- Pickle ?

## Selecting
- Select relevant columns
- Analyse relevant columns

## Cleaning :
- Cast to appropriate data types
    - General cleaning
        - identify duplicates
            - fuzzy
        - removing duplicates
            - remove
            - merge
        - handling null values
            - remove
            - replace
        - manipulating strings
        - formatting the data.

- Wrong inputs
- Outliers

## Hypothesis

### TIME
- Shark attacks are seasonal (Summer)
- Shark attacks are increasing 
- Shark attacks are more concentrated in the PM 

### LOCATION
- Some countries are more attack prone (Australia)

### DEMOGRAPHICS
- Males are more likely to get attacked
- Males are more likely to get provoke a shark
- Provoked attacked are more fatal
- Young persons are more likely to get attacked
- Names more likely to get attacked (John)

### OTHER
- Some species are more aggressive (Tiger Shark)
- Some activities are more likely (Surfing)
- Some activities are more fatal
- Full moon? ðŸ˜‚

## Business Ideas

- App that gives a likelyhood of attack based on location and time
- Vacations far away from sharks for phobics
- Witness attacks for masochists

In [1]:
import pandas as pd
import re

# Load the data
shark_attacks = pd.read_excel('GSAF5.xls')

#new_data.to_csv("shark_data.csv")

In [2]:
# Settings
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 30)

In [ ]:
shark_attacks.shape

In [ ]:
shark_attacks.head(30)

In [ ]:
#PRINT ALL COLUMNS WITH FIRST VALUE
shark_attacks.iloc[0]

In [6]:
# Source, PDF, Case Number as possible duplicate finder or year / date fill
relevant_columns = ['Date','Year','Type','Country','State','Location','Activity','Name','Sex','Age','Injury','Time','Species','Source', 'pdf','href formula','href' ]

In [ ]:
shark_attacks.isna().any()

In [ ]:
shark_attacks_nona = shark_attacks.dropna(subset=['Unnamed: 21'])
display(shark_attacks_nona)

In [ ]:
#PRINT UNIQUE
shark_attacks['Unnamed: 22'].unique()

In [ ]:
#PRINT MULTIPLE COLUMNS

display(shark_attacks[['Case Number','Case Number.1']].dropna())

In [ ]:
pattern = r"Unnamed"
unnamed_columns = shark_attacks[shark_attacks.filter(regex=pattern).columns].dropna(thresh=1)
display(unnamed_columns.head(100))

In [ ]:
# PRINT ALL MISFORMATED DATES (YEAR END \d{4})
shark_attacks[~shark_attacks['Date'].str.contains(r'.*\d{4}$', regex=True, na=False)]

In [30]:
shark_attacks['Name'].value_counts()

def get_fname(row):
    return str(row).split()[0]

shark_attacks['first_name'] = shark_attacks['Name'].apply(get_fname)
shark_attacks['first_name'].value_counts().head(50)

first_name
male       697
nan        245
John       141
female     138
a          123
William     80
Robert      76
David       64
James       63
Mr.         63
Michael     58
Richard     47
2           45
Charles     44
Peter       41
Mark        41
Paul        37
George      36
Jack        34
Brian       33
Thomas      33
Andrew      33
boat,       30
Frank       28
Mike        28
Kevin       28
Eric        28
male,       27
boat        27
Chris       26
Jason       26
Captain     25
Daniel      25
boy         24
Matthew     23
A           22
Gary        22
Scott       21
Bruce       20
Joseph      20
Adam        19
Tony        17
Arthur      17
Mrs.        17
Steve       17
Joe         17
Donald      17
Dr.         17
Barry       16
Stephen     16
Name: count, dtype: int64