# SHARK QUEST
## New Kids On The Block

In [2]:
print('hello there')

hello there

In [4]:
import pandas as pd

# Load the data
raw_data = pd.read_excel('GSAF5.xls')

#new_data.to_csv("shark_data.csv")

In [5]:
raw_data.shape

(6969, 23)

In [8]:
raw_data.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
for col in raw_data.columns:

    value = raw_data[col].iloc[0]
    print(f"Column: {col}, Value: {value}, Data Type of Column: {raw_data[col].dtypes}\n")

Column: Date, Value: 15 Mar 2024, Data Type of Column: object

Column: Year, Value: 2024.0, Data Type of Column: float64

Column: Type, Value: Unprovoked, Data Type of Column: object

Column: Country, Value: AUSTRALIA, Data Type of Column: object

Column: State, Value: Queensland, Data Type of Column: object

Column: Location, Value: Bargara Beach, Data Type of Column: object

Column: Activity, Value: Swimming, Data Type of Column: object

Column: Name, Value: Brooklyn Sauer, Data Type of Column: object

Column: Sex, Value: F, Data Type of Column: object

Column: Age, Value: 13, Data Type of Column: object

Column: Injury, Value: Minor injuries to back, abdomen and legs, Data Type of Column: object

Column: Unnamed: 11, Value: nan, Data Type of Column: object

Column: Time, Value: 16h00, Data Type of Column: object

Column: Species , Value: Tiger shark, Data Type of Column: object

Column: Source, Value: Yahoo News, 3/15/2024, Data Type of Column: object

Column: pdf, Value: nan, Data Type of Column: object

Column: href formula, Value: nan, Data Type of Column: object

Column: href, Value: nan, Data Type of Column: object

Column: Case Number, Value: nan, Data Type of Column: object

Column: Case Number.1, Value: nan, Data Type of Column: object

Column: original order, Value: nan, Data Type of Column: float64

Column: Unnamed: 21, Value: nan, Data Type of Column: object

Column: Unnamed: 22, Value: nan, Data Type of Column: object