# SHARK QUEST
## New Kids On The Block

# TODO

- Pickle ?

## Selecting
- Select relevant columns
- Analyse relevant columns

## Cleaning :
- Cast to appropriate data types
    - General cleaning
        - identify duplicates
            - fuzzy
        - removing duplicates
            - remove
            - merge
        - handling null values
            - remove
            - replace
        - manipulating strings
        - formatting the data.

- Wrong inputs
- Outliers

## Hypothesis

### TIME
- Shark attacks are seasonal (Summer)
- Shark attacks are increasing 
- Shark attacks are more concentrated in the PM 

### LOCATION
- Some countries are more attack prone (Australia)

### DEMOGRAPHICS
- Males are more likely to get attacked
- Males are more likely to get provoke a shark
- Provoked attacked are more fatal
- Young persons are more likely to get attacked

### OTHER
- Some species are more aggressive (Tiger Shark)
- Some activities are more likely (Surfing)
- Some activities are more fatal
- Full moon? ğŸ˜‚

## Business Ideas

- App that gives a likelyhood of attack based on location and time
- Vacations far away from sharks
- Witness attacks

In [29]:
import pandas as pd
import re

# Load the data
shark_attacks = pd.read_excel('GSAF5.xls')

#new_data.to_csv("shark_data.csv")

In [30]:
shark_attacks.shape

(6969, 23)

In [31]:
shark_attacks.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#PRINT ALL COLUMNS WITH FIRST VALUE
shark_attacks.iloc[0]

Date                                           15 Mar 2024
Year                                                2024.0
Type                                            Unprovoked
Country                                          AUSTRALIA
State                                           Queensland
Location                                     Bargara Beach
Activity                                          Swimming
Name                                        Brooklyn Sauer
Sex                                                      F
Age                                                     13
Injury            Minor injuries to back, abdomen and legs
Unnamed: 11                                            NaN
Time                                                 16h00
Species                                        Tiger shark
Source                               Yahoo News, 3/15/2024
pdf                                                    NaN
href formula                                           NaN
href                                                   NaN
Case Number                                            NaN
Case Number.1                                          NaN
original order                                         NaN
Unnamed: 21                                            NaN
Unnamed: 22                                            NaN
Name: 0, dtype: object

In [33]:
# Source, PDF, Case Number as possible duplicate finder or year / date fill
relevant_columns = ['Date','Year','Type','Country','State','Location','Activity','Name','Sex','Age','Injury','Time','Species','Source', 'pdf','href formula','href' ]

In [42]:
shark_attacks.isna().any()

Date              True
Year              True
Type              True
Country           True
State             True
Location          True
Activity          True
Name              True
Sex               True
Age               True
Injury            True
Unnamed: 11       True
Time              True
Species           True
Source            True
pdf               True
href formula      True
href              True
Case Number       True
Case Number.1     True
original order    True
Unnamed: 21       True
Unnamed: 22       True
dtype: bool

In [40]:
#PRINT UNIQUE
sample = shark_attacks['Unnamed: 22'].unique()

for i in range(1000) :
    print(sample[i])

nan
Teramo
change filename

IndexError: index 3 is out of bounds for axis 0 with size 3

In [41]:
#PRINT MULTIPLE COLUMNS

data = shark_attacks[['Case Number','Case Number.1']]
display(data)
for i in range(1000):
    print(data.iloc[i])

     Case Number Case Number.1
0            NaN           NaN
1            NaN           NaN
2            NaN           NaN
3            NaN           NaN
4            NaN           NaN
...          ...           ...
6964         NaN           NaN
6965         NaN           NaN
6966         NaN           NaN
6967         NaN           NaN
6968         NaN           NaN

[6969 rows x 2 columns]

Case Number      NaN
Case Number.1    NaN
Name: 0, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 1, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 2, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 3, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 4, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 5, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 6, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 7, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 8, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 9, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 10, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 11, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 12, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 13, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 14, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 15, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 16, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 17, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 18, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 19, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 20, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 21, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 22, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 23, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 24, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 25, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 26, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 27, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 28, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 29, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 30, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 31, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 32, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 33, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 34, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 35, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 36, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 37, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 38, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 39, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 40, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 41, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 42, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 43, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 44, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 45, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 46, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 47, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 48, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 49, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 50, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 51, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 52, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 53, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 54, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 55, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 56, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 57, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 58, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 59, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 60, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 61, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 62, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 63, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 64, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 65, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 66, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 67, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 68, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 69, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 70, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 71, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 72, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 73, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 74, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 75, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 76, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 77, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 78, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 79, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 80, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 81, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 82, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 83, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 84, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 85, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 86, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 87, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 88, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 89, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 90, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 91, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 92, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 93, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 94, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 95, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 96, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 97, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 98, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 99, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 100, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 101, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 102, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 103, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 104, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 105, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 106, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 107, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 108, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 109, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 110, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 111, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 112, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 113, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 114, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 115, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 116, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 117, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 118, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 119, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 120, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 121, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 122, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 123, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 124, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 125, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 126, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 127, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 128, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 129, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 130, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 131, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 132, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 133, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 134, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 135, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 136, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 137, dtype: object
Case Number      2022.09.25
Case Number.1    2022.09.25
Name: 138, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 139, dtype: object
Case Number      2022.09.06
Case Number.1    2022.09.06
Name: 140, dtype: object
Case Number      2022.09.03
Case Number.1    2022.09.03
Name: 141, dtype: object
Case Number      2022.08.31
Case Number.1    2022.08.31
Name: 142, dtype: object
Case Number      2022.08.17
Case Number.1    2022.08.17
Name: 143, dtype: object
Case Number      2022.08.15.c
Case Number.1    2022.08.15.c
Name: 144, dtype: object
Case Number      2022.08.15.b
Case Number.1    2022.08.15.b
Name: 145, dtype: object
Case Number      2022.08.15.a
Case Number.1    2022.08.15.a
Name: 146, dtype: object
Case Number      2022.08.13
Case Number.1    2022.08.13
Name: 147, dtype: object
Case Number      2022.08.10
Case Number.1    2022.08.10
Name: 148, dtype: object
Case Number      2022.07.28
Case Number.1     2022.7.28
Name: 149, dtype: object
Case Number      2022.07.27
Case Number.1    2022.07.27
Name: 150, dtype: object
Case Number      2022.07.25
Case Number.1    2022.07.25
Name: 151, dtype: object
Case Number      2022.07.20
Case Number.1    2022.07.20
Name: 152, dtype: object
Case Number      2022.07.19.b
Case Number.1    2022.07.19.b
Name: 153, dtype: object
Case Number      2022.07.19.a
Case Number.1    2022.07.19.a
Name: 154, dtype: object
Case Number      2022.07.17
Case Number.1    2022.07.17
Name: 155, dtype: object
Case Number      2022.07.16
Case Number.1    2022.07.16
Name: 156, dtype: object
Case Number      2022.07.13.b
Case Number.1    2022.07.13.b
Name: 157, dtype: object
Case Number      2022.07.13.a
Case Number.1    2022.07.13.a
Name: 158, dtype: object
Case Number      2022.07.10
Case Number.1    2022.07.10
Name: 159, dtype: object
Case Number      2022.07.07
Case Number.1    2022.07.07
Name: 160, dtype: object
Case Number      2022.07.04
Case Number.1    2022.07.04
Name: 161, dtype: object
Case Number      2022.07.03.b
Case Number.1    2022.07.03.b
Name: 162, dtype: object
Case Number      2022.07.03.a
Case Number.1    2022.07.03.a
Name: 163, dtype: object
Case Number      2022.07.01.c
Case Number.1    2022.07.01.c
Name: 164, dtype: object
Case Number      2022.07.01.b
Case Number.1    2022.07.01.b
Name: 165, dtype: object
Case Number      2022.07.01.a
Case Number.1    2022.07.01.a
Name: 166, dtype: object
Case Number      2022.06.30.b
Case Number.1    2022.06.30.b
Name: 167, dtype: object
Case Number      2022.06.30.a
Case Number.1    2022.06.30.a
Name: 168, dtype: object
Case Number      2022.06.29.b
Case Number.1    2022.06.29.b
Name: 169, dtype: object
Case Number      2022.06.29.a
Case Number.1    2022.06.29.a
Name: 170, dtype: object
Case Number      2022.06.28
Case Number.1    2022.06.28
Name: 171, dtype: object
Case Number      2022.06.24
Case Number.1    2022.06.24
Name: 172, dtype: object
Case Number      2022.06.23
Case Number.1    2022.06.23
Name: 173, dtype: object
Case Number      2022.06.22
Case Number.1    2022.06.22
Name: 174, dtype: object
Case Number      2022.06.21
Case Number.1    2022.06.21
Name: 175, dtype: object
Case Number      2022.06.01
Case Number.1    2022.06.01
Name: 176, dtype: object
Case Number      2022.05.27
Case Number.1    2022.05.27
Name: 177, dtype: object
Case Number      2022.05.20
Case Number.1    2022.05.20
Name: 178, dtype: object
Case Number      2022.05.19
Case Number.1    2022.05.19
Name: 179, dtype: object
Case Number      2022.05.10
Case Number.1    2022.05.10
Name: 180, dtype: object
Case Number      2022.05.07
Case Number.1    2022.05.07
Name: 181, dtype: object
Case Number      2022.05.03
Case Number.1    2022.05.03
Name: 182, dtype: object
Case Number      2022.05.01
Case Number.1    2022.05.01
Name: 183, dtype: object
Case Number      2022,94,39
Case Number.1    2022.04.30
Name: 184, dtype: object
Case Number      2022.04.27.R
Case Number.1    2022.04.27.R
Name: 185, dtype: object
Case Number      2022,04.17
Case Number.1    2022.04.17
Name: 186, dtype: object
Case Number      2022.04.1.2
Case Number.1     2022.04.12
Name: 187, dtype: object
Case Number      2022.04.11
Case Number.1    2022.04.11
Name: 188, dtype: object
Case Number      2022.04.09
Case Number.1    2022.04.09
Name: 189, dtype: object
Case Number      2022.04.07
Case Number.1    2022.04.07
Name: 190, dtype: object
Case Number      2022.04.01
Case Number.1    2022.04.01
Name: 191, dtype: object
Case Number      2022.03.31
Case Number.1    2022.03.31
Name: 192, dtype: object
Case Number      2022.03.18
Case Number.1    2022.03.18
Name: 193, dtype: object
Case Number      2022.03.15.c
Case Number.1             NaN
Name: 194, dtype: object
Case Number      2022.03.15
Case Number.1    2022.03.15
Name: 195, dtype: object
Case Number      2022.03.15.b
Case Number.1      2022.03.15
Name: 196, dtype: object
Case Number      2022.03.13
Case Number.1    2022.03.13
Name: 197, dtype: object
Case Number      2022.03.09
Case Number.1    2022.03.09
Name: 198, dtype: object
Case Number      2022.03.08
Case Number.1    2022.03.08
Name: 199, dtype: object
Case Number      NaN
Case Number.1    NaN
Name: 200, dtype: object
Case Number      2022.02.21
Case Number.1    2022.02.21
Name: 201, dtype: object
Case Number      2022.02.17
Case Number.1    2022.02.17
Name: 202, dtype: object
Case Number      2022.02.16
Case Number.1    2022.02.16
Name: 203, dtype: object
Case Number      2022.02.12
Case Number.1    2022.02.12
Name: 204, dtype: object
Case Number      2022.02.11
Case Number.1    2022.02.11
Name: 205, dtype: object
Case Number      2022.02.10.R
Case Number.1    2022.02.10.R
Name: 206, dtype: object
Case Number      2022.02.08
Case Number.1    2022.02.08
Name: 207, dtype: object
Case Number      2022.02.05
Case Number.1    2022.02.05
Name: 208, dtype: object
Case Number      2022.01.24
Case Number.1    2022.01.24
Name: 209, dtype: object
Case Number      2022.01.22
Case Number.1    2022.01.22
Name: 210, dtype: object
Case Number      2022.01.09.b
Case Number.1    2022.01.09.b
Name: 211, dtype: object
Case Number      2022.01.09
Case Number.1    2022.01.09
Name: 212, dtype: object
Case Number      2022.01.06.R
Case Number.1    2022,91,06.R
Name: 213, dtype: object
Case Number      2022.01.04
Case Number.1    2022.01.04
Name: 214, dtype: object
Case Number      2022.01.01
Case Number.1    2022.01.01
Name: 215, dtype: object
Case Number      2021.12.25
Case Number.1    2021.12.25
Name: 216, dtype: object
Case Number      2021.12.22
Case Number.1    2021.12.22
Name: 217, dtype: object
Case Number      2021.12.11
Case Number.1    2021.12.11
Name: 218, dtype: object
Case Number      2021.12.06.r
Case Number.1    2021.12.06.R
Name: 219, dtype: object
Case Number      2021.12.06
Case Number.1    2021.12.06
Name: 220, dtype: object
Case Number      2021.12.06
Case Number.1    2021.12.06
Name: 221, dtype: object
Case Number      2021.12.04
Case Number.1    2021.12.04
Name: 222, dtype: object
Case Number      2021.11.15
Case Number.1    2021.11.15
Name: 223, dtype: object
Case Number      2021.11.07
Case Number.1    2021.11.07
Name: 224, dtype: object
Case Number      2021.11.06
Case Number.1    2021.11.06
Name: 225, dtype: object
Case Number      2021.11.03
Case Number.1    2021.11.03
Name: 226, dtype: object
Case Number      2021.11.02
Case Number.1    2021.11.02
Name: 227, dtype: object
Case Number      2021.10.16
Case Number.1    2021.10.15
Name: 228, dtype: object
Case Number      2021.10.15
Case Number.1    2021.10.15
Name: 229, dtype: object
Case Number      2021.10.04
Case Number.1    2021.10.04
Name: 230, dtype: object
Case Number      2021.10.03.b
Case Number.1    2021.10.04.b
Name: 231, dtype: object
Case Number      2021.10.03.a
Case Number.1    2021.10.03.a
Name: 232, dtype: object
Case Number      2021.09.10
Case Number.1    2021.09.10
Name: 233, dtype: object
Case Number      2021.09.09
Case Number.1    2021.09.09
Name: 234, dtype: object
Case Number      2021.09.05
Case Number.1    2021.09.05
Name: 235, dtype: object
Case Number      2021.09.03.b
Case Number.1    2021.09.03.b
Name: 236, dtype: object
Case Number      2021.09.03
Case Number.1    2021.09.03
Name: 237, dtype: object
Case Number      2021.08.28
Case Number.1    2021.08.28
Name: 238, dtype: object
Case Number      2021. 08.21
Case Number.1     2021.08.21
Name: 239, dtype: object
Case Number      2021.08.13
Case Number.1    2021.08.13
Name: 240, dtype: object
Case Number      2021.08.07.c
Case Number.1    2021.08.07.c
Name: 241, dtype: object
Case Number      2021..08.07.b
Case Number.1     2021.08.07.b
Name: 242, dtype: object
Case Number       2021.08.07.a
Case Number.1    2021..08.07.a
Name: 243, dtype: object
Case Number      2021.08.03
Case Number.1    2021.08.03
Name: 244, dtype: object
Case Number      2021.08.02
Case Number.1    2021.08.02
Name: 245, dtype: object
Case Number      2021.07.30
Case Number.1    2021.07.30
Name: 246, dtype: object
Case Number      2021.07.27.c
Case Number.1    2021.07.27.c
Name: 247, dtype: object
Case Number      2021.07.27.b
Case Number.1    2021.07.27.b
Name: 248, dtype: object
Case Number      2021.07.27.a
Case Number.1    2021.07.27.a
Name: 249, dtype: object
Case Number      2021.07.26
Case Number.1    2021.07.26
Name: 250, dtype: object
Case Number      2021.07.25
Case Number.1    2021.07.25
Name: 251, dtype: object
Case Number      2021.07.23
Case Number.1    2021.07.23
Name: 252, dtype: object
Case Number      2021.07.23
Case Number.1    2021.07.23
Name: 253, dtype: object
Case Number      2021.07.21
Case Number.1    2021.07.21
Name: 254, dtype: object
Case Number      2021.07.19
Case Number.1    2021.07.19
Name: 255, dtype: object
Case Number      2021.07.15
Case Number.1    2021.07.15
Name: 256, dtype: object
Case Number      2021.07.14
Case Number.1    2021.07.14
Name: 257, dtype: object
Case Number      2021.07.11.R
Case Number.1    2021.07.11.R
Name: 258, dtype: object
Case Number      2021.07.10.c
Case Number.1    2021.07.10.c
Name: 259, dtype: object
Case Number      2021.07.10.b
Case Number.1    2021.07.10.b
Name: 260, dtype: object
Case Number      2021.07.10
Case Number.1    2021.07.10
Name: 261, dtype: object
Case Number      2021.07.05
Case Number.1    2021.07.05
Name: 262, dtype: object
Case Number      2021.07.04
Case Number.1    2021.07.04
Name: 263, dtype: object
Case Number      2021.07.04
Case Number.1    2021.07.04
Name: 264, dtype: object
Case Number      2021.07.03
Case Number.1    2021.07.03
Name: 265, dtype: object
Case Number      2021.06.30
Case Number.1    2021.06.30
Name: 266, dtype: object
Case Number      2021.06.28
Case Number.1    2021.06.28
Name: 267, dtype: object
Case Number      2021.06.27
Case Number.1    2021.06.27
Name: 268, dtype: object
Case Number      2021.06.26
Case Number.1    2021.06.26
Name: 269, dtype: object
Case Number      2021.06.25

In [36]:
# PRINT ALL MISFORMATED DATES (YEAR END \d{4})
for index, value in shark_attacks['Date'].items():
    #print(index,value)
    is_match = re.match('.*\d{4}$',str(value))

    if not is_match:
        print(index, value)

218 11-Dec-2021`
384 10-Jul-202
604 Reported 09-Jul-2018.
743 2017.06.05
1491 24-Aug-2011
1492 24-Aug-2011
1906 2008.01.30
1971 19-Jul-2007.b
1972 19-Jul-2007.a
2026 2007.
2077 09-Jul-2006.
2140 24-Nov-2005-
2270  19-Jul-2004 Reported to have happened  "on the weekend"
2271 15-Jul-2004
2319 Reported 15-Jan-2004
2334 12-Nov-2003
2743 Reported 18-Mar-1999
2824 1998
3024 Reported      10-Dec-1994
3075 Last incident of 1994 in Hong Kong
3427 Reported 22-Sep-1986
3702 1980s
3704 1980s
3748 Apr-1978`
3838 26-Jul-1975.b
4035 1970s
4036 Late 1970s
4039 1970s
4040 1970s
4041 1970s
4042 1970s
4353 30-Nov-1963
4420 02-Sep-1962
4654 Late 1960s
4655 1960s
4736 02-Feb-1959 Reported
4941 Ca. 1955
4986 1954 (same day as  1954.00.00.f)
4987 1954 (same day as  1954.00.00.f)
5055
1951.12.15.R
5097 1950.07.19
5121 1950s
5179 Reported 13-Mar-1948 "Bitten last weekend
5274 22-Jul-144
5432 Woirld War II
5468 Reported 26-Sep-t937
5891 1920s
6151 July-1903
6194 Early 1900s
6213 1899 During the Seige of Ladysmith
6229 1898.01.24
6232 1898 (soon after the close of the Spanish-American War)
6340 1890
6418 Reported 14-Sep-1883 (probably happened Ca. 1843/1844)
6459 1880?
6512 Ca. mid-1870s
6552 Early 1870s
6560 1868 (?)
6646 1853
6692 1844.07.16.R
6714 1836.07.26.R
6715 1836.00.
6740 1820s
6795 1700s
6796 1700s
6797 1700s
6810 Ca 1588.04.00
6811 Ca 1200-1500 A.D.
6812 Ca.789-1033 A.D
6813  Ca. 77  A.D.
6814 Ca. 5 A.D.
6815 Ca. 214 B.C.
6816 Ca. 336.B.C..
6817 Ca. 493 B.C.
6818 Ca. 725 B.C.
6819 Ca. 1010  BC
6820 Ca 4000 BC
6830 2009?
6851 No date, late 1960s
6856 1950s
6858 2003?
6859 No date
6860 No date
6883 1960s
6884 1960s
6885 1960s
6903 "Before the war"
6913 World War II
6914 World War II
6917 No date
6918 Early 1930s
6921 No date
6922 No date
6923 No date
6944 nan
6945 nan
6946 nan
6947 nan
6948 nan
6949 nan
6950 nan
6951 nan
6952 nan
6953 nan
6954 nan
6955 nan
6956 nan
6957 nan
6958 nan
6959 nan
6960 nan
6961 nan
6962 nan
6963 nan
6964 nan
6965 nan
6966 nan
6967 nan
6968 nan

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
/var/folders/7w/s5bmwwgs2176bk3y33c2nv2m0000gn/T/ipykernel_19443/1873722249.py:4: SyntaxWarning: invalid escape sequence '\d'
  is_match = re.match('.*\d{4}$',str(value))